CREATE TABLE `eduphysics`.`contact_details` (`sno` INT(5) NOT NULL AUTO_INCREMENT , `name` VARCHAR(50) NOT NULL , `phone` CHAR(10) NOT NULL , `email` VARCHAR(128) NOT NULL , `message` TEXT NOT NULL , `timestamp` DATETIME NOT NULL , PRIMARY KEY (`sno`)) ENGINE = InnoDB;